{% extends 'base.html' %}
{% load static %}

{% block title %}{{ recipe.title }} - Кулинарный компас{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/recipes.css' %}">
{% endblock %}

{% block content %}
<div class="recipe-detail">
    <div class="recipe-section">
        {% if recipe.image %}
            <img src="{{ recipe.image.url }}" alt="{{ recipe.title }}" class="recipe-main-image">
        {% endif %}
        
        <div class="recipe-header">
            <h1>{{ recipe.title }}</h1>
        </div>
        
        <div class="recipe-meta-grid">
            <div class="recipe-meta-item">
                <div>⏱️</div>
                <div><strong>{{ recipe.cooking_time }} мин.</strong></div>
            </div>
            <div class="recipe-meta-item">
                <div>👨‍🍳</div>
                <div><strong>{{ recipe.author.username }}</strong></div>
            </div>
            <div class="recipe-meta-item">
                <div>📅</div>
                <div><strong>{{ recipe.created_at|date:"d.m.Y" }}</strong></div>
            </div>
        </div>
        
        <div class="recipe-section">
            <h3>📝 Описание</h3>
            <p>{{ recipe.description }}</p>
        </div>
        
        <div class="recipe-section">
            <h3>🛒 Ингредиенты</h3>
            <ul class="ingredients-list">
                {% for ingredient in recipe.ingredients.all %}
                    <li>• {{ ingredient.name }}</li>
                {% endfor %}
            </ul>
        </div>
        
        <div class="recipe-section">
            <h3>👨‍🍳 Шаги приготовления</h3>
            <div class="cooking-steps">{{ recipe.cooking_steps }}</div>
        </div>
        
        <div class="recipe-actions">
           {% if source == "all" %}
                <a href="{% url 'all_recipes' %}" class="btn btn-secondary">← Назад к рецептам</a>
            {% elif source == "fav" %}
                <a href="{% url 'favorite_recipes' %}" class="btn btn-secondary">← Назад к избранным рецептам</a>
            {% elif source == "search" %}
                <a href="{% url 'recipe_search' %}" class="btn btn-secondary">← Назад к поиску</a>
            {%else%}
                <a href="{% url 'all_recipes' %}" class="btn btn-secondary">← Назад к рецептам</a>

            {% endif %}
            {% if user.is_authenticated %}
                {% if is_favorite %}
                    <a href="{% url 'remove_from_favorites' recipe.id %}" class="btn btn-secondary">💔 Удалить из избранного</a>
                {% else %}
                    <a href="{% url 'add_to_favorites' recipe.id %}" class="btn">❤️ Добавить в избранное</a>
                {% endif %}
            {% else %}
                <a href="{% url 'login' %}" class="btn">❤️ Войдите, чтобы добавить в избранное</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}